body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

#buttonsWrapper {
    display: flex;
    justify-content: center;
    gap: 20px; /* This adds space between the buttons */
    margin-top: 100px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonBlue {
    background-color: blue;
    color: white;
    border: 1px solid darkblue; /* Optional: added border to make it look better */
    padding: 10px 20px;
    margin-bottom: 5px; /* Space between the button and the counter */
    cursor: pointer;
}

#buttonGreen {
    background-color: green;
    color: white;
    border: 1px solid darkgreen; /* Optional: added border to make it look better */
    padding: 10px 20px;
    margin-bottom: 5px; /* Space between the button and the counter */
    cursor: pointer;
}

/* If you have a class for buttons after they've been clicked and turned grey */
.grey {
    background-color: grey;
    color: black;
    cursor: default;
}


/* Style for the graph canvas */
#clickChart {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

